<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{66,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,110},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,207},{74,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,195},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,113},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{66,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,123}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,110},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,101},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,206},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fe4a173d961ba7c1ec4d8e86479578a$</string>
            <key>textureFileName</key>
            <string>monster_1.png</string>
        </dict>
    </dict>
</plist>
