<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackScope.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,39}}</string>
                <key>sourceSize</key>
                <string>{239,39}</string>
            </dict>
            <key>ui_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{640,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,140}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>ui_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{180,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
            <key>ui_build_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,346},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ui_build_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,211},{110,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,133}}</string>
                <key>sourceSize</key>
                <string>{110,133}</string>
            </dict>
            <key>ui_mergeRemind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ui_towerLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,43},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638d6032ff775dd11f42781a5b749620$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
